.create-link-continer {
    height: 260px;
    width: 100%;
    background-color: #343434;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: bottom 4s ease-in-out;
    z-index: 1000;
}

.create-link-info {
    width: 100%;
    font-size: 1rem;
}

.create-link-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.dismiss-btn {
    position: absolute;
    bottom: 8%;
    border: none;
    background-color: inherit;
    color: rgba(92, 163, 197, 0.806);
    font-weight: 700;
}

.display-link {
    width: 100%;
    position: absolute;
    top: 5%;
}

.link-box {
    width: 100%;
    height: 3rem;
    background-color: #716d6d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
}

.link {
    color: #ffffff;
    font-weight: 700;
    margin-left: 10px;
}

.link-copy-btn {
    height: 100%;
    background-color: inherit;
    border: none;
}

.link-copy-btn:active {
    height: 80%;
}

.link-options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}

.link-btn {
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: 1px solid #e8e0e0;
    border-radius: 10px;
    color: #ffffff;
    padding: 4px;
}

.link-btn:active {
   transform: translate(1px, 2px); 
   background-color: #e8e0e0;
   color: #343434;
}

.meeting-create-error {
    color: #f93434;
    font-weight: 600;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.meeting-create-error svg {
    font-weight: 600;
}