* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100dvh;
  overflow-y: auto;
}


.page-loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-progress-bar {
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 0;
}

.progress-bar {
    background-color: #4eaff5;
    height: 100%;
    animation-name: barLoading;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

.loading-reason-info {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-info {
    font-size: 1rem;
    color: #323232;
}

.loading-reason-info button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    color: #323232;
    border-radius: 50px;
    cursor: pointer;
}

.loading-reason-info button:hover {
    background-color: #e1e1e1;
}

.loading-reason {
    background-color: #4eaff5;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    color: #ffffff;
}

@media (max-width: 500px) {
    svg {
        fill: #ffffff;
    }

    .loading-reason {
        width: 95%;
    }

}

@media (min-width: 500px) {
    .loading-reason {
        width: 400px;
    }
}

@keyframes barLoading {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}