* {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100dvh;
  overflow-y: auto;
}


.page-loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-progress-bar {
    width: 100vw;
    height: 10px;
    position: absolute;
    top: 0;
}

.progress-bar {
    background-color: #4eaff5;
    height: 100%;
    animation-name: barLoading;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

@media (max-width: 500px) {
    svg {
        fill: #ffffff;
    }
}

@keyframes barLoading {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    20% {
        width: 20%;
    }

    30% {
        width: 30%;
    }

    40% {
        width: 40%;
    }

    50% {
        width: 50%;
    }

    60% {
        width: 60%;
    }

    70% {
        width: 70%;
    }

    80% {
        width: 80%;
    }

    90% {
        width: 90%;
    }

    100% {
        width: 100%;
    }
}