.in-call-messages-container {
    width: 100vw;
    height: 100vh;
    background-color: #242424;
    position: absolute;
    top: 0;
    z-index: 4000;
    display: flex;
    flex-direction: column;
    z-index: 10000000;
}

.input-error {
    border: 2px solid red !important;
}

.in-call-messages-heading {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.in-call-msg-close-btn {
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.in-call-messages-heading span {
    font-size: 1.3rem;
    color: #ffffff;
}

.message-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
    overflow: auto;
    scroll-behavior: smooth;
}

.message-main-container::-webkit-scrollbar {
    display: none;
}

.message-info {
    width: 100%;
    background-color: #3e3d3d;
    height: fit-content;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
}

.message-write {
    height: 60px;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #000000;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    align-self: center;
}

.message-input {
    height: 100%;
    width: 90%;
    background-color: inherit;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #ffffff;
    font-size: 1rem;
    padding: 20px;
}

.message-send-btn {
    background-color: inherit;
    border: none;
    margin-right: 1rem;
}

.callers {
    width: 200px;
    height: 110px;
    background-color: #6f6f6fd8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #ffffff;
    position: absolute;
    cursor: grab;
    touch-action: none;
    user-select: none;
}

.you,
.friend {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.you,
.friend  {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

.you video,
.friend video {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
