.meeting-add-user-container1 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #010e17;
    z-index: 100000000;
    display: flex;
    flex-direction: column;
}

.add-user-heading {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.add-user-heading-back {
    margin-right: 20px;
    margin-left: 20px;
}

.meeting-code1 {
    font-size: 20px;
}

.user-add-option {
    cursor: pointer;
}

.add-user-navigation {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.line21 {
    width: 100%;
    height: 1px;
    background-color: #6f7b84;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    
}

.option-active {
    width: 60px;
    height: 5px;
    background-color: rgb(3, 159, 226);
    border-radius: 20px;
}

.options-page1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.search-user-in-call {
    width: 100%;
    display: flex;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.search-input2 {
    width: 80%;
    display: flex;
    background-color: #2b3034;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.search-icon {
    display: flex;
}

.input-s3 {
    flex: 1;
    background-color: inherit;
    border: none;
    color: #ffffff;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
}

.add-user2 {
    background-color: #2b3034;
    padding: 5px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    height: 40px;
}

.in-call-persons-info {
    flex: 1;
    background-color: #010e17;
    display: flex;
    flex-direction: column;
}

.joined-persons-container {
    flex: 1;
    padding: 20px;
}

.participant1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.participant-profile {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
}

.participant-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.loading-page1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.participant-info {
    display: flex;
    flex-direction: column;
}

.participant-name {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.host1 {
    font-size: 0.9rem;
    color: #bdc8d0;
}

.waiting-persons-container {
    padding: 20px;
    height: fit-content;
    margin-bottom: 20px;
}

.info2 {
    font-size: 0.9rem;
    color: #6f7b84;
}

.waiting-user1 {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.waiting-user-profile {
    width: 50px;
    height: 50px;
    display: flex;
    position: relative;
}

.waiting-left, .waiting-right, .participant-left, .participant-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.waiting-left, .participant-left {
    gap: 20px;
}

.waiting-right, .participant-right {
    gap: 30px;
}

.profile-dot1 {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    position: absolute;
    border-radius: 50%;
    bottom: 1%;
    right: 1%;
}

.waiting-user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.waiting-user-name {
    font-weight: 600;
}