.info-toast-container {
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.12),
        0 8px 20px rgba(0, 0, 0, 0.16);
    width: fit-content;
    position: absolute;
    z-index: 9999999;
    bottom: 2%;
    left: 2%;
}