.account-info-container {
    width: 95vw;
    height: 320px;
    background-color: #343434;
    position: absolute;
    z-index: 1000;
    top: 10%;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0.95);
    /* transition: opacity 0.6s ease, transform 0.6s ease; */
}

.account-heading {
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    height: 3rem;
    padding: 1rem;
    color: #ffffff;
    align-items: center;
}

.app-name {
    margin-left: 30%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 500;
}

.main-container {
    width: 90%;
    height: 80%;
    background-color: #000000;
    border-radius: inherit;
    color: #ffffff;
}

.update-info {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid #868686;
}

.add-phone {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    padding: 5px;
}

.phone-logo {
    margin-right: 1rem;
}

.policy {
    color: #ffffff;
    padding: 1rem;
}

.policy a {
    text-decoration: none;
    color: inherit;
}

.update-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.curr-info {
    display: flex;
}

.user-profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.user-profile img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
}

.close-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-another-image {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #343434;
    padding: 5px;
    display: flex;
    border-radius: 50%;
}

.user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.user-name .name {
    font-size: 1rem;
    font-weight: 700;
}

.user-name .email {
    font-size: 0.8rem;
}

.expand-icon {
    margin-right: 10px;
}

.goto-settings {
    padding: 0.7rem;
    margin-bottom: 1.2rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-weight: 900;
}

.goto-settings:hover {
    background-color: #ffffff;
    color: #000000;
}

.goto-settings:active {
    background-color: #ffffff;
    color: #000000;
}

@media (min-width: 500px) {
    
    .account-info-container {
        background-color: #eeeeee;
        width: 50%;
        color: #000000;
    }

    .account-heading {
        color: #212121;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .account-heading svg {
        fill: #000000;
    }

    .main-container {
        background-color: #c7c7c7;
        color: #000000;
    }

    .main-container svg {
        fill: #000000;
    }

    .add-another-image {
        background-color: #eeeeee;
    }

    .policy {
        color: #212121;
    }
}