.call-more-options {
    width: 12rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    position: absolute;
}

.call-more-option {
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
    margin-top: 5px;
    gap: 10px;
    border-radius: 20px;
}

.call-more-option:hover {
    background-color: #c4c4c4;
}
