.home-page {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.845);
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    /* make change here */
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    padding: 0.4rem;
    border-radius: 50px;
}

.search-btn {
    width: 100%;
}

.more-options {
    margin: 0.6rem;
    margin-top: 1rem;
}

.enter-code {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(0, 195, 255, 0.272);
    border-radius: 20px;
    margin-right: 0.5rem;
}

.enter-code svg {
    margin-right: 0.2rem;
}

.profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    object-fit: cover;
    flex-shrink: 0;
}

.add-call {
    width: 100px;
    padding: 0.8rem;
    display: flex;
    background-color: #015771;
    border-radius: 1rem;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-weight: 600;
}

.add-call svg {
    margin-top: 0.3rem;
    font-weight: 600;
}

.add-call span {
    margin-left: 0.5rem;
}

.latest-activity {
    width: 100%;
    flex: 1;
    margin-top: 1rem;
    overflow: auto;
}

.latest-activity::-webkit-scrollbar {
    display: none;
}

.latest-activity-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-latest-activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.no-activity-icon {
    width: fit-content;
    height: fit-content;
}

.no-activity-icon svg {
    width: 20rem;
}

.no-act-msg {
    position: absolute;
    bottom: 20%;
    font-size: 1.2rem;
    color: #868686;
}

.blur-background {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    animation: backgroundFade 2s forwards;
    position: absolute;
    left: 0;
    top: 0;
}

.call-history-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #ffffff;
    align-items: center;
    overflow: auto;
}

.call-history-container::-webkit-scrollbar {
    display: none;
}

.history-name {
    font-size: 1rem;
    color: #9d9d9d;
    margin-bottom: 1rem;
}

.show-more-call-history {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.show-more-call-history:hover {
    background-color: #f5f5f5;
} 

@keyframes backgroundFade {
    from {
        background-color: rgba(0, 0, 0, 0.3);
    }

    to {
        background-color: rgba(0, 0, 0, 0.7);
    }
}
