.login-page {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

.images-background-container {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #000000;
    overflow: hidden;
    position: relative;
}

.images {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    height: auto;
}

.image-row {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.scroll-left {
    animation: scroll-left 10s linear infinite alternate;
}

.scroll-right {
    animation: scroll-right 10s linear infinite alternate;
}

.image {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.login-container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.login-form {
    color: #ffffff;
}

.form-h1 {
    font-weight: 900;
    font-size: 3rem;
    padding: 10px;
}

.form-p {
    font-weight: 300;
    font-size: 1rem;
    margin-left: 10px;
}

.get-phone {
    background-color: #ffffff;
    width: 100%;
    height: 13rem;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 50%;
    height: 5px;
    background-color: #0000006c;
    border-radius: 20px;
    position: absolute;
    top: 8px;
    left: 25%;
}

.info-form h2 {
    margin: 1rem 0 0 0;
}

.input-box {
    display: flex;
    flex-direction: column;
}

.input-box label {
    margin: 1rem 0 0.2rem 0;
    font-size: 1rem;
    font-weight: 600;
}

.input-box input {
    font-size: 1rem;
    border: 2px solid #4287f5;
    width: 20rem;
    padding: 5px;
    border-radius: 5px;
}

.get-phone-p {
    font-size: 1rem;
}

.google-btn {
    width: 100%;
    margin-top: 30px;
}

.warning {
    font-size: 0.8rem;
}

.get-personal-info {
    background-color: #ffffff;
    width: 100%;
    height: 20rem;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #000000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.continue-btn {
    width: 100%;
    height: 3rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-color: #4287f5;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.continue-btn:hover {
    background-color: #2174fb;
}

.continue-btn:focus {
    background-color: #2f7cf8;
}

.save-btn {
    width: 100%;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background-color: #4287f5;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save-btn:hover {
    background-color: #2174fb;
}

.save-btn:focus {
    background-color: #2f7cf8;
}

.skip-btn {
    width: 100%;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 1rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip-btn:hover {
    background-color: #e1e5ebde;
}

.skip-btn:focus {
    background-color: #e1e5ebde;
}

.get-profile {
    background-color: #ffffff;
    width: 100%;
    height: 22rem;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #000000;
    padding: 10px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.profile-input {
    margin-top: 1rem;
    position: relative;
}

.profile-input img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 2px solid #00000062;
}

.add-icon {
    background-color: #2174fb;
    color: #ffffff;
    width: fit-content;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #0545ac;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.oauth-loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-auth-load {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    z-index: 100;
}

.demo-image {
    width: 100%;
    height: 100%;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}


@media (min-width: 500px) {

    .login-page {
        display: flex;
        flex-direction: row;
    }

    .login-container {
        width: 50%;
        height: 200px;
        background: none;
        background-color: #ffffff;
        position: static;
    }

    .info {
        /* display: none; */
    }

    .form-h1 {
        color: #000000;
    }

    .form-p {
        color: #000000;
    }

    .bar {
        display: none;
    }

    .get-phone {
        width: 50%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    .get-personal-info {
        /* height: 100%; */
    }

    .images-background-container {
        width: 50vw;
    }


}