.incoming-video-call-page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #363636;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 30000;
}

.incoming-call-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 30%;
}

.incoming-user-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.call-info {
    font-size: 1rem;
    color: #c9c8c8;
}

.caller-email {
    font-size: 2rem;
}

.incoming-call-camera {
    flex: 1;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #000000;
    border-radius: 20px;
    flex-direction: column;
    position: relative;
}

.incoming-call-camera video {
    width: 100%;
    height: 90%;
}

.incoming-call-camera-action {
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.incoming-flip-camera,
.incoming-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 136, 255, 0.384);
    margin-bottom: 20px;
    border-radius: 50%;
}

.incoming-call-answer {
    width: 100vw;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.call-answer-btn {
    width: 100px;
    height: 100px;
    background-color: rgba(0, 162, 255, 0.676);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    animation: updown-animation 1s infinite linear;
}

.call-answer-btn svg {
    fill: #000000db;
}

.answer-info {
    font-size: 1rem;
    color: #a9a9a9;
    animation: answer-animation 4s linear infinite;
}

@keyframes updown-animation {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes answer-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* DESKTOP */
.incoming-video-call-desktop-container {
    position: absolute;
    width: 300px;
    height: 150px;
    background-color: #292929;
    z-index: 99999;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    bottom: 2%;
    right: 2%;
}

.caller-info {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px;
}

.desktop-incoming-video-call-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.incoming-video-action {
    width: 65px;
    height: 40px;
    border: 1px solid #a9a9a9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}

.incoming-video-action:hover {
    background-color: #c9c8c80e;
}

.answer {
    background-color: #27b15c;
    border: none;
}

.answer:hover {
    background-color: #50b878;
}

.decline {
    background-color: #df4545;
    border: none;
}

.decline:hover {
    background-color: #d15a5a;
}

.incoming-video-call-desktop-container svg {
    fill: #ffffff;
}

.caller-info-profile12 {
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
}

.caller-info-profile12 img {
    border-radius: 50%;
    object-fit: cover;
}

.caller-info-email {
    line-height: 1rem;
}

.incoming-fullname {
    font-size: 1.2rem;
}

.incoming-email {
    font-size: .8rem;
    color: #a9a9a9;
}