.video-call-screen-page {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    overflow: hidden;
}

.video-call-screen-heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    transition: opacity 1s ease;
}

.loading-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-screen-back-btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #c4c4c453;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.remote-user-profile {
    flex: 1;
    padding: 15px;
    height: 48px;
    background-color: #c4c4c453;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
}

.user-profile-img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.remote-user-img-loading {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: linear-gradient(100deg, #cfcfcf 0%, #adadad 50%, #cfcfcf 100%);
    background-size: 200% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
}

.remote-user-fullname-loading {
    width: 70px;
    height: 20px;
    margin-left: 10px;
    background: linear-gradient(100deg, #cfcfcf 0%, #adadad 50%, #cfcfcf 100%);
    background-size: 200% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
}

.remote-user-fullname-loading2 {
    width: 50px;
    height: 20px;
    margin-left: 5px;
    background: linear-gradient(100deg, #cfcfcf 0%, #adadad 50%, #cfcfcf 100%);
    background-size: 200% 100%;
    animation: shimmer 1.4s ease-in-out infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }

}

.user-profile-name {
    color: #ffffff;
    margin-left: 10px;
}

.video-call-right {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background-color: #c4c4c453;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-call-left {
    display: flex;
    flex: 1;
    margin-right: 8px;
}

.sound-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-call-main {
    width: 100%;
    height: 70%;
    /* margin-top: 2rem; */
    position: relative;
}

.remote-user-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1000;
    display: flex;
}

.current-user-video {
    width: 50%;
    height: 30%;
    position: absolute;
    z-index: 1000;
    bottom: 0;
    right: 4%;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
}

.current-video-more {
    width: 30px;
    height: 40px;
    background-color: #72727257;
    z-index: 2000;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cuser-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 500px) {
    .current-user-video {
        bottom: -5%;
    }
}

.video-call-actions {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 1.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: opacity 1s ease;
    z-index: 1000000;
}

.call-actions-btn {
    width: 98%;
    padding: 0 5px 0 5px;
    max-width: 600px;
    height: 100%;
    background: rgba(40, 40, 40, 0.55);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    pointer-events: all;
}

.video-call-action,
.video-call-reaction,
.video-call-more-action,
.call-end-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: #ffffff26;
    transition: all 0.3s ease;
    cursor: pointer;
}

.video-call-more-action {
    position: relative;
}

.unseen-message {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #38ff5d;
    border-radius: 50px;
    top: 0;
    right: 0;
}

.video-call-action:hover,
.video-call-reaction:hover,
.video-call-more-action:hover {
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
}

.reaction-tab-open {
    background-color: #5d8095b3;
}

.call-end-btn {
    background-color: #e63946;
    width: 70px;
    height: 55px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.call-end-btn:hover {
    background-color: #ff4d4d;
    transform: scale(1.1);
}

svg {
    transition: transform 0.2s ease;
}

.video-call-action:hover svg,
.video-call-reaction:hover svg,
.video-call-more-action:hover svg,
.call-end-btn:hover svg {
    transform: scale(1.1);
}

.separater {
    font-size: 1.4rem;
    color: #e2e2e253;
}

.audio-off {
    position: absolute;
    z-index: 2000;
    right: 3%;
    top: 3%;
    width: 30px;
    height: 30px;
    background-color: #22303966;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr-user-camera-off {
    width: 100%;
    height: 100%;
    background-color: #223039;
    display: flex;
    justify-content: center;
    align-items: center;
}

.curr-user-camera-off img {
    width: 45%;
    height: 50%;
    border-radius: 50%;
}

.remote-user-camera-off {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.hand-raised-container {
    position: absolute;
    top: 2%;
    right: 2%;
    background-color: #1d71b6;
    width: 100px;
    padding: 6px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #ffffff;
}

.remote-user-mic-off {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: #ffffff34;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.remote-user-camera-no-active {
    width: 100%;
    height: 100%;
    font-family: Montserrat;
    border: 2px solid #1d0e01;
    background:
        repeating-radial-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 50% 0/2500px 2500px,
        repeating-conic-gradient(#000 0 0.0001%, #ffffff 0 0.0002%) 60% 60%/2500px 2500px;
    background-blend-mode: difference;
    animation: b 0.2s infinite alternate;
    border-radius: 10px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #252525;
    letter-spacing: 0.15em;
    text-align: center;

}

.remote-user-camera-off img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: drop-shadow(0 0 2em #ffffff);
    animation: glowPulse 2.5s infinite ease-in-out;
}

.is-hand-raised {
    position: absolute;
    background-color: #57f87ac0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 4%;
    left: 2%;
}

.reaction-emojis {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -20%;
    height: 400px;
    bottom: 20%;
    background-color: #223039;
    width: 60px;
    font-size: 2rem;
    border-radius: 50px;
    align-items: center;
    overflow-y: auto;
    animation: slideUp 0.4s ease-out;
    transition: opacity 1s ease;
}

.reaction-emojis::-webkit-scrollbar {
    display: none;
}

.emoji {
    margin: 5px 0 5px 0;
    cursor: pointer;
}

.reaction {
    position: fixed;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    color: #ffffff;
    z-index: 100000;
    animation: reactionFloat 8s linear forwards;

}

.reaction-animation {
    background-color: #7b7a7a;
    padding: 10px 16px;
    border-radius: 25px;
    margin-bottom: 6px;
}

.reaction-name {
    background-color: #7b7a7a;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 14px;
    opacity: 0.9;
}

.current-message {
    width: 200px;
    height: 60px;
    display: flex;
    flex-direction: row;
    position: absolute;
    color: #ffffff;
    top: 1%;
    left: 2%;
    background-color: #333333c9;
    padding: 5px;
    border-radius: 50px;
    pointer-events: none;
}

.current-message-sender-profile {
    display: flex;
    width: 30%;
    height: 100%;
}

.sender-name {
    font-weight: 600;
}

.current-message-sender-profile img {
    border-radius: 50px;
}

@keyframes reactionFloat {
    0% {
        transform: translate(-50%, 0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50vh) scale(1.15);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -100vh) scale(0.9);
        opacity: 0;
    }
}


@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes glowPulse {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }

    50% {
        box-shadow: 0 0 25px rgba(255, 255, 255, 0.6);
    }

    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    }
}

.video-call-screen-page svg {
    fill: #ffffff;
}

.video-call-share-screen,
.video-call-caption,
.video-call-hand {
    width: 50px;
    height: 55px;
    background-color: #ffffff26;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
}

.video-call-time-info {
    color: #ffffff;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

.video-current-time {
    font-weight: 500;
}

.video-call-id {
    font-weight: 400;
    font-size: .9rem;
}

.video-call-detail-info {
    display: flex;
    position: absolute;
    right: 2%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.detail-info1 {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100000000;
    position: relative;
    pointer-events: all;
}

.detail-info1:hover {
    background-color: #1f2020;
}

.btn-active {
    background-color: #1d71b668;
}

.people-count {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #ffffff;
    background-color: #223039;
    top: -5%;
    right: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: .75rem;
}

.aria {
    position: absolute;
    background-color: #58616780;
    font-size: 0.75rem;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: -15%;
    padding: 2px 6px;
    border-radius: 2px;
    white-space: nowrap;
}

.call-details-aria,
.people-info-aria,
.chat-with-people-aria,
.call-tools-aria,
.host-option-aria,
.show-video-aria {
    display: none;
}

.call-details:hover .call-details-aria,
.people-info:hover .people-info-aria,
.chat-with-people:hover .chat-with-people-aria,
.call-tools:hover .call-tools-aria,
.host-option:hover .host-option-aria,
.show-video-call-details-info .icon1:hover .show-video-aria {
    display: block;
}

.show-video-call-details-info {
    position: absolute;
    right: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-video-call-details-info .icon1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-video-call-details-info .icon1:hover {
    background-color: #223039;
}

.floating-video-call-details {
    position: absolute;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    bottom: 13%;
    right: 3%;
    z-index: 999999999;
}

.demo {
    width: 500px;
    height: 400px;
    background-color: #1d71b6;
}

.video-call-hand-active {
    background-color: #2fff47ba;
}

@media (min-width: 500px) {
    .video-call-main {
        height: 100%;
        margin-top: 0;
        background-color: #000000;
        display: flex;
        justify-content: center;
    }

    .remote-user-video {
        height: 75%;
        width: 70%;
        margin-top: 1.2rem;
    }

    .current-user-video {
        width: 250px;
        height: 150px;
        border-radius: 10px;
        bottom: 20%;
    }

    .call-actions-btn {
        background-color: inherit;
        gap: 12px;
    }

    .video-call-actions {
        pointer-events: all;
    }

    .video-call-action {
        width: 100px;
        border-radius: 10px;
        position: relative;
    }

    .video-call-action:hover,
    .video-call-reaction:hover,
    .video-call-more-action:hover,
    .video-call-share-screen:hover,
    .video-call-share-screen:hover,
    .video-call-caption:hover,
    .video-call-hand:hover {
        background: rgba(255, 255, 255, 0.3);
        transform: none;
    }

    .call-end-btn:hover {
        transform: none;
    }

    .devices-more-option {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        position: absolute;
        left: 0;
    }

    .devices-icon {
        background-color: rgba(255, 255, 255, 0.15);
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        position: absolute;
        right: 0;
    }

    .video-call-reaction {
        width: 60px;
        border-radius: 10px;
    }

    .reaction-tab-open {
        background-color: #94c5ed;
    }

    .reaction-tab-open svg {
        fill: #000000;
    }

    .video-call-more-action {
        width: 40px;
        border-radius: 10px;
    }
}